:root {
	--Bright-orange: hsl(31, 77%, 52%);
	--Dark-cyan: hsl(184, 100%, 22%);
	--Very-dark-cyan: hsl(179, 100%, 13%);
	/* paragraphs */
	--Transparent-white: hsla(0, 0%, 100%, 0.75);
	/* (background, headings, buttons) */
	--Very-light-gray: hsl(0, 0%, 95%);
}

@font-face {
	font-family: light;
	src: url(../../assets/font/Lexend_Deca/static/LexendDeca-Light.ttf);
}

@font-face {
	font-family: regular;
	src: url(../../assets/font/Lexend_Deca/static/LexendDeca-Regular.ttf);
}

@font-face {
	font-family: regular2;
	src: url(../../assets/font/Big_Shoulders_Display/static/BigShouldersDisplay-Regular.ttf);
}

main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-1,
.card-2,
.card-3 {
	max-width: 400px;
	height: fit-content;
	background-color: var(--Bright-orange);
}

.sedan,
.suvs,
.luxury {
	padding: 30px 0px 20px 30px;
}

.card-content {
	padding: 0px 30px 0px 30px;
}

.card-title {
	color: white;
	font-size: 25px;
	font-family: regular2;
}

.card-text {
	color: var(--Very-light-gray);
	font-size: 14px;
	font-family: light;
	margin-top: 20px;
	max-width: 200px;
}

.card-2 {
	background-color: var(--Dark-cyan);
}

.card-3 {
	background-color: var(--Very-dark-cyan);
}

.learn-more-background1,
.learn-more-background2,
.learn-more-background3 {
	background-color: white;
	border-radius: 20px;
	width: fit-content;
	margin: 100px 0px 40px 30px;
	display: flex;
}



.learn-more-background2,
.learn-more-background3 {
	margin: 100px 0px 40px 0px;
}

.learn-more-background1:hover {
	background-color: var(--Bright-orange);
	border: 1px white solid;
	border-radius: 20px;
	width: fit-content;
	margin: 100px 0px 40px 30px;

}

.learn-more-background2:hover {
	background-color: var(--Dark-cyan);
	border: 1px white solid;
	border-radius: 20px;
	width: fit-content;
	margin: 100px 0px 40px 0px;
}

.learn-more-background3:hover {
	background-color: var(--Very-dark-cyan);
	border: 1px white solid;
	border-radius: 20px;
	width: fit-content;
	margin: 100px 0px 40px 0px;
}

.learn-more,
.learn-more2,
.learn-more3 {
	color: var(--Bright-orange);
	margin: auto;
	padding: 10px;
	text-decoration: none;

}

.learn-more:hover,
.learn-more2:hover,
.learn-more3:hover {
	color: white;
	margin: auto;
	padding: 10px;
	text-decoration: none;
}

.learn-more2 {
	color: var(--Dark-cyan);
}

.learn-more3 {
	color: var(--Very-dark-cyan);
}

@media(max-width:500px) {
	main {
		flex-wrap: wrap;
	}
}